
.header{
    background-color: #203144;
    width: 100vw;
    height: 90px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.274); 
    color: rgb(26, 26, 26);
}
.title{
    color: white;
    font-size: 35px;
    margin-left: 25px;

}
.navBarFunctions{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 15%;
    margin-right: 1vw;
}
.btnIconButton{
    background-color:  rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
    margin: 3px;
}
.btnIcon{
    font-size: 35px !important;
}
.btnLogOut{
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    border: transparent;
}