
.containerPref{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 5px 6px;
    margin: 4px 0;
} 

