.contentQuestion{
    width: 100%;
    height: 550px;
}

.titleQuestion{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 20px;
    color: white;
}

.contentOptions{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 20px;
    height: 200px;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
}

.contentForm{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
}

.inputDate{
    height: 100%;
    padding-right: 13px;
    width: 365px;
    border-radius: 20px;
    padding-left: 13px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.contentFormLocation{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contentLocation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLocation{
    width: 385px;
    height: 55px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 13px;
}

.contentNumber{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contentAreasNumber{
    display: flex;
    flex-direction: column;
}

.labelArea{
    color: white;
    margin-left: 6px;
}

.labelNumber{
    color: white;
}

.inputArea{
    height: 55px;
    width: 106px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 6PX;
    padding-left: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.inputNumber{
    width: 261px;
    height: 55px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 6PX;
    padding-left: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.subtitleQuestion{
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
}

.contentSports{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}