.contentQuestion{
    width: 100vw;
    height: 40vh;
    max-height: 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.titleQuestion{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.contentForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 90%;
}
.inputDate{
    width: 80%;
    height: 35%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    font-size: 19px;
    padding: 20px 10px 20px 10px;
}
.contentBar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20vh;
}

.bar{
    width: 316px;
    height: 4px;
    background: black;
    border-radius: 4px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-left: 22px;
}

.barProgress{
    width: 126px;
    height: 5px;
    background: linear-gradient(91deg, #F2AE32 0%, #F3B928 100%)
}
.cuenta{
    width: 41px;
    height: 29px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: white;
}