.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.cardsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px; 
    justify-content: center;
}