.compAdmin{
    background-color: rgb(28, 28, 28);
    min-height: 200px;
    height: auto;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-right: 20px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px black;
}
.cardHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardClub{

    width: 80px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;

}
.clubLabel{
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;

}
.deleteBtn{
    background-color: rgb(60, 60, 60);
    border-radius: 8px;
    text-align: center;
    padding: 3px;
}

.editBtn{
    background-color: rgb(60, 60, 60);
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    color: white;
}

.btnInfo{
    background-color: rgb(60, 60, 60);
    width: 90%;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    color: white;
}
.imgClub{
    position: relative;
    max-width: 60px;
    max-height: 100px;
    top: 8px;
    border-radius: 10px;
}

.clubName{
    color: white;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 15px;
    width: 70px;
}