.holeCompContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    height: auto;
    width: 80%;
}
.label{
    font-size: 18px;
    font-weight: 500;
    margin: 0.5vh;
}

.input{
    font-size: 18px;
    font-weight: 500;
    margin: 0.5vh;
    width: 100%;
    border-radius: 8px;
}
.btnSubmit{
    margin: 0.5vh;
    height: 30px;
    width: 120px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
}

.close{
    height: 30px;
    width: 120px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    background-color: rgb(29, 29, 29);
}