.friendsContainer{
    position: relative;
    /* border-style: solid; */
    border-radius: 10px;
    min-width: 90vw;
    padding: 10px;

    /* border-color: black;
    border: 2px solid transparent; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.274);  */
}

.infoGeneral{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text1 {
    color: black;
    font-size: 15px;
    margin: 4px;
}

.friendsImages{
    position: relative;
    max-height: 110px;
    display: flex;
    flex-direction: row;
    margin-right:10px;
    margin-left: 10px;
    justify-content:baseline;
    overflow-x:auto;
}

.friendImg{
    position: relative;
    max-width: 90px;
    max-height: 90px;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.274); 
}
.friend{
    margin-right: 1vw;
    width: 10vh;
    height: 10vh;
    max-width: 90px;
    max-height: 90px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.status{
    position: relative;
    font-size: 25px;
    top: -30px;

}
.verTodos{
    position: relative;
    font-size: 14px;
    margin: 5px;
}

