.completeComponent {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 100vw;
  height: 100vh;
  margin-bottom: 4rem;
}

.divButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:  space-around;
  margin: 1rem 10px;
}

.divButtons1 {
  width: 100%;
  height: 40px;
  background-color: none;
}


.miPerfilBtn{
  background-color: transparent;
  color: black;
  background-color: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  border-style: none;
  border-color: none;
}

.bloqueAmarillo {
  display: block; 
  height: 4px; 
  background: linear-gradient(90deg, #E7B04B 0%, #F2E849 100%); 
}


.perfilDeportivoBtn{
  background-color: transparent;
  color: black;
  background-color: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-style: none;
  border-color: none;
  font-weight: 600;

}

/* CSS Para el componente Profile */
.divProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  height: 90%;
  margin: 2rem 0 60px 0;
  margin-bottom: 10%;
}

.divOneProfile {
  background-color: white;
  border-radius: 15px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.name {
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin-top:5px;
  margin-bottom:5px;
}

.divTwoProfile {
  width: 90vw;
}

.description {
  color: black;
  width: 90%;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 1vh;
}

.profileImg {
  background-color: white;
  border-radius: 50%;
  border: 3.5px solid transparent; 
  border-color: black;
  max-height: 150px;
  max-width: 150px;
  margin-top: -75px;
}

.divThreeProfile {
  width: 100%;
}
.divContainer{
  margin: 2px 16px;
}
.friendsContainer{
  margin: 1vh;
  height: 180px;
}

.info {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #DDDDDD  ;
  height: 39px;
  padding: 10px 12px;
}

.dato {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #203144;
}

.nombreDelDato {
  font-size: 12px;
  margin-right: 5px;
  font-weight: 400;
  color: #959595;

}
.linksTo{
  display: flex;
  justify-content: end;
  color:#203144;
  font-weight: 500;

}

/* CSS Para el componente Perfiles deportivos */

.perfilesDeportivosContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  padding-bottom: 10%;

}
.divOne{
  display: flex;
  flex-direction: row;
  width: 93vw;
  justify-content: center;
  align-items: center;
}

/* Este es el Btn */
.sportText{
  text-align: top;
  padding: 2ch;
  height: 60px;
  width: 30%;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  margin: 10px;
  border-width: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.236); 
  background-color: white;
  border: none;
  cursor: pointer;
}
.statsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.DivTwo{
  width: 90vw;
}

.pointsContainer{
  height: 5vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textOne{
  margin-left: 1%;
  color: blue;
  font-weight: 500;
}

.pointsBtn{
  height: 5vh;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  background-color: rgba(0, 0, 255, 0.758);
  border-radius: 5px;
  font-weight: 500;
  border-style: solid;
  border-width: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.236); 
  
}
.divThree{
  margin-top: 5%;
}

.divThree2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.valoracionesContainer{
  z-index: 10;
}