.holeComp{
    
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #203144;
}
.viewHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;

}

.viewTitle{
    color: white;
    text-align: center;
    font-size: 35px;
    width: 60%;
    padding: 1vh;
}

.backBtn{
    position: absolute;
    text-align: center;
    left: 30px;
    top:50px;
    color: white;
    font-size: 20px;
}

.reservasDiv{
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.divNoMatches{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textNoMatches{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color:rgb(189, 189, 189);
    line-height: 170%;
}