.holeComp{
    
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #203144;
}
.viewHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.viewTitle{
    color: white;
    text-align: center;
    font-size: 40px;
    width: 90%;
    padding: 1vh;
}

.backBtn{
    width: 5%;
    z-index: 5;
    color: white;
}

.reservasDiv{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}