.divCardReservation{
    display: flex;
    flex-direction: column;
}
.compTitle{
    font-size: 35px;
    text-align: center;
    margin: 2vh;
    color: white;
}

.divCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}