/* login.module.css */

/* Estilos del fondo del formulario */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Aqui cambie el color del background por el color del mockup */
    background-color: #203144;
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    position: relative;
  }
  
  /* Estilos del logo */
  .logo {
    width: 294px;
    height: 70px;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }

  /* Estos son los estilos que agregue para tratar de ayudar un poco con lo que no estaba agarrando. son clases que cree para las etiquetas que no tenian clase ya gregue unas mas */
  .contentFormFields{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .contentController{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 385px;
    height: 93px;
  }

  .labels{
    font-weight: 700;
    font-size: 20px;
    height: 30px;
  }

  .inputEmail{
    height: 55px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: #203144;
    padding-left: 19px;
    font-size: 16px;
    font-weight: 400;
    outline: transparent;
  }

  .h2Title{
    font-size: 20px;
    font-weight: 700;
  }
  
  /* Estilos del formulario */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Estilos del contenedor de campos de ingreso */
  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 388px; /* Ajuste al ancho fijo */
    height: 373px; /* Ajuste a la altura fija */
    top: 274px; /* Posicionamiento desde la parte superior */
    left: 20px; /* Posicionamiento desde la izquierda */
    padding: 8px 0; /* Padding ajustado */
    gap: 24px; /* Espacio entre elementos */
  }
  
  /* Estilos adicionales para los campos de ingreso, si es necesario */
  .inputIcon {
    color: #f9f9f9;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .inputField {
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 13px 19px;
    color: #ffffff;
  }
  
  .eyeIcon {
    width: 17.09px;
    height: 11.18px;
    color: #203144;
  }
  
  /* Estilos del botón de inicio de sesión */
  .submitButton {
    background: #0075f8;
    border-radius: 10px;
    height: 50px;
    margin-top: 16px;
    width: 100%; /* Ocupar el ancho completo */
  }
  
  /* Estilos del texto "¿No tienes cuenta?" */
  .linkText {
    font-size: 16px;
    line-height: 24px;
    color: #f9f9f9;
    width: 100%; /* Ocupar el ancho completo */
    text-align: center;
    margin-top: 16px; /* Espacio desde la parte superior */
  }
  
  /* Estilos del enlace "Regístrate" */
  .link {
    color: #0075f8;
  }
  
  /* Estilos del texto "¿Olvidaste tu contraseña?" */
  .forgotPasswordText {
    font-size: 16px;
    line-height: 24px;
    color: #0075f8;
    margin-top: 41px; /* Espacio desde la parte superior */
    text-align: center;
  }
  