.containerNavbar{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff; 

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80vw;
    width: 100vw;
    height: 5vh;
    min-height: 8vh;
}
.icon{
    color: #DDDDDD;
    font-size: 36px;
}

.activeLink {
    color: #36424F ; 
  }