.containerCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.centeredImage {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }

.centeredImage button {
    border: none  !important;
    background-color: transparent !important;
}

.centeredImage button:hover,
.centeredImage button:focus,
.centeredImage button:focus-visible{
    border: none !important;
    outline: none !important;
}